@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --softwhite: #f0ece2;
  --color1: rgb(161, 71, 71);
  --color2: maroon;
  --black: #222831;
  --grey: #393E46;
  --teal: #00ADB5;
  --white: #EEEEEE;
  --yellow: #c4be21;
  --poppins: 'Poppins', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  margin-right: 10px;
}

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: var(--poppins);
    color: var(--white);
    font-weight: 100;
  }

body {
  background-color: var(--black);
  height: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
}

pre {
  background-color: var(--grey);
  color: var(--softwhite);
}

.title-top {
  padding: 20px 0 10px 0;
  color: var(--color1);
  font-size: 1.8em;
  font-weight: bold;
}

.home .color-1 {
  color: var(--color1);
  font-size: 1em;
}

.home {
  font-size: 1.6em;
  font-weight: 700;
}

h1 {
  font-weight: 700;
  color: var(--teal);
}

h2 {
  font-weight: bold;
  color: var(--teal);
}

h3 {
  padding: 5px 0 5px 0;
  font-size: 1.3em;
  color: var(--color1);
  font-weight: 700;
}

h4 {
  margin: 0 0 5px 5px;
  font-size: 1em;
}

main {
  background-color: var(--grey);
  border-radius: 20px;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px 0 30px;
}

hr {
  border: 0.2em solid var(--softwhite);
  opacity: 0.8;
}

p, li{
  margin: 5px 0 5px 2px;
  font-size: 1em;
  color: var(--white);
}

span {
  font-weight: bold;
}

.top {
  width: 100%;
}

.bottom {
  width: 100%;
  height: 100%;
}

.school {
  margin-left: 8.3%;
}

.skills {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  background-color: rgb(172, 0, 0);
  border: none;
  font-weight: 600;
  color: rgb(230, 230, 230);
  border-radius: 13px;
}

/* li {
  margin-left: 3%;
  padding: 3px 0 3px 0;
  font-size: 0.83em;
} */

/* ul {
  margin-bottom: 8px;
} */

.title {
  margin: 1% 0 1% 0;
  font-size: 1.2em;
  font-weight: bold;
} */

.name {
  font-size: 1.5em;
  font-weight: bold;
}

.container p {
  color: var(--white);
}

.solution {
  color: var(--softwhite);
  font-weight: 400;
}

.sol {
  font-size: 1.2em;
  font-weight: 500;
}

#num1, #num2, #message {
  color: white;
}

.demo, input[type=submit] {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 var(--teal);
}

.demo:hover, input[type=submit]:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

.demo:after, input[type=submit]:after {
  transform: scale(0.9);
}

#submit1 {
  padding: 8px 18px;
  font-size: 1em;
  top: 20px;
}

/* Start of Demo 1 */

.section{
  position: relative;
  width: 100%;
  display: block;
  
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front{
  width: 100%;
  height: 100%;
  background-color: #2a2b38;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
  position: absolute;
  top: 3px;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

#demoh4 {
  margin: 0 0 30px 0;
  font-weight: bold;
}

/* End of Demo 1 */

#multiplicationTable td {
  text-align: center;
  border: 2px solid white !important;
  padding: 10px;
  color: var(--softwhite);
}